<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:each="quer: ${query}">
    <div th:text="${quer.nameCompany}" ></div>

    <div >
        <form action="/companies/delete" method="post">
            <input type="hidden" th:value="${quer.id}" name="id">
            <button type="submit">Delete</button>
        </form>
    </div>
</div><br>

<form action="/companies" method="post">
    <label>Id</label><br>
    <input type="text" name="id"><br>
    <label>Company Name</label><br>
    <input type="text" name="name"><br>
    <button type="submit">Post</button><br>
</form>

<div>
    <form action="/companies/update" method="post">
        <label>Old name</label><br>
        <input type="text" name="oldName"><br>
        <label>New name</label><br>
        <input type="text" name="newName"><br>
        <button type="submit">Update</button>
    </form>
</div>
</body>
</html>