<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div th:each="skill: ${skills}">
    <div style="padding-top: 10px">
        <div th:text="'Name: ' + ${skill.nameSkill}"></div>
        <div th:text="'Level: ' + ${skill.levelSkill}"></div>
        <div th:text="'Name Developer: ' + ${skill.nameDeveloper}"></div>
        <form action="/skills/delete" method="post">
            <input type="hidden" th:value="${skill.id}" name="id">
            <button type="submit">Delete</button>
        </form>
    </div>
</div>
</div>

<div>
    <form action="/skills" method="post">
        <label>Id</label><br>
        <input type="text" name="id"><br>
        <label>Name</label><br>
        <input type="text" name="name"><br>
        <label>Level</label><br>
        <input type="text" name="level"><br>
        <label>Name Developer</label><br>
        <input type="text" name="nameDeveloper"><br>
        <button type="submit">Post</button>
    </form>
</div>

<div>
    <form action="/skills/update" method="post">
        <label>Old name</label><br>
        <input type="text" name="oldName"><br>
        <label>Old level</label><br>
        <input type="text" name="oldLevel"><br>
        <label>Old name developer</label><br>
        <input type="text" name="oldDeveloper"><br>
        <label>New name</label><br>
        <input type="text" name="newName"><br>
        <label>New level</label><br>
        <input type="text" name="newLevel"><br>
        <label>New name developer</label><br>
        <input type="text" name="newDeveloper"><br>
        <button type="submit">Update</button>
    </form>
</div>

</body>
</html>